@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: black;
    color: #a1a1a1;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 14px;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.lead {
    color: white;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.login-area {
    margin: auto;
    padding: 26px;
    background-color: #171717;
    min-width: 300px;
    border: 1px solid #2e2f2f;
    border-radius: 10px;
}

#hint {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-label {
    font-weight: 600;
    color: whitesmoke;
    margin-bottom: 10px;
}

input {
    color: #a1a1a1;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #222222;
    font-weight: 600;
    width: calc(100% - 20px);
    border: 1px solid #2e2f2f;
    border-radius: 10px;
}

button {
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 10px;
    width: 300px;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    align-self: center;
}

.error-text {
    color: rgb(255, 108, 108);
}
